*{
	margin:0;
	padding: 0;
}
body{
	overflow: hidden;
}
.page1{
		
	width: 100%;			
	position: relative;	
}
.page1 .sub{
	width: 100%;
	height: 100%;				
	position: relative;			
}
.page1 .sub .mofang{

	float: left;			
	position: relative;
	transform-style: preserve-3d;		
	-ms-transform-style: preserve-3d;		
}
.page1 .sub .mofang .mian{
	backface-visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-size:1920px 1080px;
}
.page1 .sub .mofang .mian:nth-child(1){
	transform:translateZ(30px);
	-ms-transform:translateZ(30px);
}
.page1 .sub .mofang .mian:nth-child(2){
	transform:rotateY(90deg) translateZ(100px);
	-ms-transform:rotateY(90deg) translateZ(100px);
}
.page1 .sub .mofang .mian:nth-child(3){
	transform:rotateY(180deg) translateZ(100px);
	-ms-transform:rotateY(180deg) translateZ(100px);
}
.page1 .sub .mofang .mian:nth-child(4){
	transform:rotateY(270deg) translateZ(100px);
	-ms-transform:rotateY(270deg) translateZ(100px);
}